#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

.card {
    z-index: 0;
    border: none;
    position: relative;
    text-align: center;
}
.fieldlabels {
    color: gray;
    text-align: left
}

#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: left
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}
